.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.ser-title{
position: relative;
}

.ser-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 500;
}

.ser-title img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.Services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;

}

.Services-format h3{
    font-size: 25px;
    font-weight: 400;
}

.Services-format h2{
    font-size: 35px;
    font-weight:600 ;
    background: linear-gradient(267deg, #DA7C25 50%, #b923e1 100% );
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.Services-format p{
    color: #d4d4d4;
    font-size: 18px;
    line-height: 30px;
    max-width: 250px;
}

.services-readmore{ 
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 20px;
}

.Services-format:hover{
    border: 2px solid #ff00ff;
    background: linear-gradient(45deg, #3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}





