.first{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.first h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.first h1 span{
    background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first p{
    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.first-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.but{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06% );
    font-size: 18px;
    cursor: pointer;
}

.but:hover{
    border: 2px solid white;
}


.but1{
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 14px;
    cursor: pointer;
}

.but1:hover{
    border: 2px solid #b923e1;
}

.img{
    margin-top: 200px;
}